<div class="example-container bg">
    <div class="row bg-nav">
        <div class="col-12 nav-bar">
            <div class="container-fluid header-padding">

                <div class="left">
                    <img src="assets/SVG/LogoTelefonicaBlanco.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div id="loginForm">
                <div style="display:block">
                    <div class="top-bg">
                    </div>
                    <div class="form logo-k">
                        <img src="assets/SVG/LogoKalkance1.svg" alt="">
                    </div>
                    <div class="form justify-content-between pad">
                        <div class="col-sm-12">
                            <input type="text" required placeholder="Admin-user" formControlName="username"
                                class="form-control invalid" (click)="onChange($event)">
                        </div>
                    </div>
                    <div class="form justify-content-between pad">
                        <div class="col-sm-12">
                            <input type="password" required placeholder="Contraseña" formControlName="password"
                                class="form-control invalid" (click)="onChange($event)">
                        </div>
                    </div>
                    <br>
                    <div class="form btn-login">
                        <button type="submit" class="btn-i">Iniciar sesión</button>
                    </div>
                    <br>
                    <div class="form justify-content-between pad ">
                        <div class="col-sm-12">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <label style="padding-left: 5px" class="container-check">Recordarme</label>
                        </div>
                    </div>

                    <div class="form justify-content-between btn-login">
                        <div class="col-sm-12">
                            <label class="rol-tit">¿Has olvidado la contraseña?</label>
                        </div>
                    </div>
                    <div class="form justify-content-between pad small">
                        <div class="alert alert-warning nopad" role="alert" *ngIf="(loginForm.controls.username.invalid && loginForm.controls.username.touched) ||
          (loginForm.controls.password.invalid && loginForm.controls.password.touched)">
                            Se encuentran campos vacíos, complete la información requerida.
                        </div>
                        <div class="alert alert-danger nopad" role="alert" *ngIf="logfail">
                            Error: Inicio de sesión inválido. El usuario o contraseña es incorrecto.
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>