#loginForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
  width: 50vh;
  height: 65vh;
}

.nav-bar {
  padding-right: 0;
  padding-left: 0;
  height: 10vh;
  background-image: url('/src/assets/SVG/Banner.svg');
  background-size: cover;
}

.left {
  float: left;

  img {
    height: 2rem;
  }
}

.header-padding {
  padding: 3vh 3vw 0 3vw;
}

.bg-nav {
  background: #0e3e50;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tb-body {
  background-color: #fff;
}

.logo-k {
  text-align: center;
  margin-bottom: 5vh;

  img {
    width: 80%;
  }
}

.top-bg {
  height: 2rem;
  background-color: #0c4f60;
  margin: 0rem 2rem 1rem 2rem;
}

.login-input {
  border: 0;
  background-color: #f8f9fb;
  width: 100%;
  margin-bottom: 2vh;
}

.btn-login {
  text-align: center;

  button {
    background-color: #0c4f60;
    color: #fff;
    text-align: center;
    border: 0;
  }
}

.login-check {
  background-color: #e6e6e6;
}

.pad {
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.warn {
  background-color: #fff3cd;
}

.error {
  background-color: #f8d7da;
}

.bg {
  /* The image used */
  background-image: url('/src/assets/PNG/footer-login.png');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nopad {
  padding: 2%;
}

.small {
  font-size: 0.8rem;
}
