.wrapper {
  position: relative;
  padding-right: 15vw;
  padding-left: 15vw;
  input {
    width: 100%;
  }

  span {
    position: absolute;
    right: 2vw;
    top: 1vh;
    padding-right: 16vw;
    img {
      width: 1vw;
      height: auto;
    }
  }
}

#tabla_doc {
  width: 100%;
}

#tab2 {
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}

#pad {
  padding-right: 5%;
  padding-left: 5%;
}

.ngx-datatable.material {
  .datatable-header {
    .datatable-header-cell {
      font-size: 1rem;
      color: #000;
    }
  }
}
