<div class="container-fluid">
  <div class="row boldy" id="pad">
    <div class="view-title col">
      <p>Búsqueda avanzada</p>
      <hr />
    </div>
  </div>

  <div class="row" id="pad">
    <div class="col-md-12 wrapper">
      <input class="form-control form-s" placeholder="Ingrese su búsqueda" [(ngModel)]="query" (keyup.enter)=search()>
      <span ><img src="assets/SVG/down-arrow.svg" alt="" (click)="openFilters()"></span>
      <span style="padding-right: 14vw"><img src="assets/SVG/search.svg" alt="" (click)="search()"></span>
    </div>
  </div>

  <br>
  <div class="row" id="tab2" #tableWrapper>
    <ngx-datatable #table id="tabla_doc" class="material expandable" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="'auto'"
      [limit]="5" [loadingIndicator]="loadingIndicator" [footerHeight]="50" [scrollbarH]="scrollBarHorizontal"
      [messages]="message">

      <ngx-datatable-column name="Web-site URL" prop="website" width="100"></ngx-datatable-column>

      <ngx-datatable-column name="Organización" prop="organization" width="100"></ngx-datatable-column>

      <ngx-datatable-column name="Emitido por" prop="certificateAuthority" [flexGrow]="1"></ngx-datatable-column>

      <ngx-datatable-column name="Válido desde" prop="validFrom" width="100">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowHeight="rowHeight">
          <p>
            {{value | date}}
          </p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Válido hasta" prop="validTo" width="100">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowHeight="rowHeight">
          <p>
            {{value | date}}
          </p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="" prop="f" width="10">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowHeight="rowHeight">
            <img src="assets/SVG/visible.svg" style="width: 2vw; height: auto;" alt="" (click)="openDetail(row)">
          </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>
